<%= tag.div class: "relative #{"border-b" if featured?}" do %>
  <%= link_to developer, class: "bg-white hover:bg-gray-50 #{"border-l-4 border-blue-400" if featured?} px-4 py-6 sm:p-6 flex space-x-4 sm:space-x-8" do %>
    <div class="shrink-0">
      <%= render AvatarComponent.new(avatarable: developer, variant: :medium) %>
    </div>

    <div class="self-start flex-1 min-w-0">
      <div class="flex items-baseline">
        <h2 class="text-lg sm:text-xl font-medium text-gray-900 line-clamp-2 break-word" title="<%= hero %>">
          <%= hero %>
        </h2>

        <div class="hidden sm:inline-flex ml-auto flex-row-reverse shrink-0 items-center text-gray-400">
          <%= render Developers::AvailabilityComponent.new(developer: developer) %>
        </div>
      </div>

      <% if featured? %>
        <div class="mt-1 pb-1">
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800"> <%= t(".featured") %> </span>
        </div>
      <% end %>

      <div class="mt-2 text-sm sm:text-base text-gray-700 space-y-4">
        <p class="line-clamp-3 break-words"><%= strip_tags bio %></p>
      </div>
      <ul class="my-4 space-y-2 -ml-2">
        <% developer.skills["skills_frontend"].to_a.each do |skill| %>
          <li class="inline-block md:text-sm">
            <div class="block bg-gray-100 px-2 py-1 text-xs md:px-2 md:py-1 rounded-xl text-gray-700 hover:text-black hover:bg-blue-200">
              <span class="text-sm font-medium"><%= Developer.skills_frontend[skill.to_sym] %></span>
            </div>
          </li>
        <% end %>
        <% developer.skills["skills_backend"].to_a.each do |skill| %>
          <li class="inline-block md:text-sm">
            <div class="block bg-gray-100 px-2 py-1 text-xs md:px-2 md:py-1 rounded-xl text-gray-700 hover:text-black hover:bg-blue-200">
              <span class="text-sm font-medium"><%= Developer.skills_backend[skill.to_sym]  %></span>
            </div>
          </li>
        <% end %>
        <% developer.skills["skills_language"].to_a.each do |skill| %>
          <li class="inline-block md:text-sm">
            <div class="block bg-gray-100 px-2 py-1 text-xs md:px-2 md:py-1 rounded-xl text-gray-700 hover:text-black hover:bg-blue-200">
              <span class="text-sm font-medium"><%= Developer.skills_language[skill.to_sym]  %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
