<p><%= link_to "#{@business.contact_name} (#{@business.company})", business_url(@business, locale: "fr") %> a lancé une conversation avec <%= link_to @developer.name, developer_url(@developer) %>:</p>

<%== html_truncate_message_body(@body) %>

<%= link_to "Voir conversation", notification_url(@notification.record, locale: "fr") %>

<hr>

<% @subscriptions.each do |subscription| %>
  <ul>
    <li><b>Souscription</b>: <%= Businesses::Plan.with_processor_plan(subscription.processor_plan).name %></li>
    <li><b>Statut</b>: <%= subscription.status.humanize %></li>
    <li><b>Rôle développeur</b>: <%= @developer.role_type.humanize %></li>
  </ul>
<% end %>
