<%= open_graph_tags title: @article[:title], description: @article[:description], image: @article[:image_url], url: request.original_url, atype: "article" %>

<section class="py-8 lg:py-24">
  <article class="px-4 mx-auto max-w-5xl lg:px-4">
    <h1 class="mb-10 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl">
      <%== @article[:title] %>
    </h1>
    <p class="mb-1 text-lg text-gray-600 dark:text-gray-400 lg:text-lg">
      <%== @article[:publication_date] %> 
      <% if @article[:author].present? %>
        - by <%= link_to @article[:author], developer_path(@article[:author].scan(/\d+/)), class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600"  %>
      <% end %>
    </p>
    <p class="mb-10 text-lg text-gray-600 dark:text-gray-400 lg:text-lg">
      <%== @article[:description] %>
    </p>
    <hr class="my-12 border-gray-200 dark:border-gray-800">
    <div class="prose prose-stone prose-img:rounded-xl prose-a:text-blue-600">
      <%== @article[:parsed_content] %>
    </div>

    <div class="pt-6 prose">
      <h2 class="h2">About</h2>    
      <p>
        <a href="jsdevs.co">jsdevs&co</a> was founded in September, 2022.
      </p>
      <p>
        It allows Frontend and JavaScript developers to find the job they love, without agency or 3rd-party recruiters. Learn more in the <a href="/about">about</a> section.
      </p>
      <p>
        The blog is opened :
        <ul>
          <li><a href="https://app.usefathom.com/share/rbjsrtot/jsdevs" target="_blank">Analytics</a> for this blog is opened, so that you see the trafic for the blog.</li>
          <li>Any developer that subscribed to jsdevs can have free training to SEO and technical writing.</li>
        </ul>
      </p>
    </div>
    <div class="pt-6">
      <% if @prev_article  %>
        <div class="mt-3">
          <strong>Previous article :</strong>
          <%= link_to @prev_article[:title], @prev_article[:slug], class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600"  %>
        </div>
      <% end  %>
      <% if @next_article  %>
        <div class="mt-3">
          <strong>Next article :</strong>
          <%= link_to @next_article[:title], @next_article[:slug], class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600"  %>
        </div>
      <% end  %>      
    </div>

  </article>
</section>


<a href="/" class="fixed bottom-0 bg-blue-600 text-white w-full text-center py-1">
  We help developers to find the job they love ❤. See how →
</a>

<% content_for :custom_stylesheet do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/rainbow.min.css">
<% end %>
<% content_for :custom_javascript do %>
  <script>
    document.addEventListener('turbo:load', (event) => {

      const loadCDN = src =>
        new Promise((resolve, reject) => {
          if (document.querySelector(`head > script[src="${src}"]`) !== null) return resolve()
          const script = document.createElement("script")
          script.src = src
          script.async = true
          document.head.appendChild(script)
          script.onload = resolve
          script.onerror = reject
        })

      loadCDN("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js").then(res => {
        document.querySelectorAll('pre code').forEach((el) => {
          if (typeof hljs !== 'undefined') {
            hljs.highlightElement(el);
          }
        });
      }).catch(err => {})

    });
  </script>
<% end %>
