<%= open_graph_tags title: @article[:title], description: @article[:description], image: @article[:image_url], url: request.original_url, atype: "article" %>

<section class="py-8 lg:py-24">
  <article class="px-4 mx-auto max-w-5xl lg:px-4">
    <h1 class="mb-10 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      <%== @article[:title] %>
    </h1>
    <p class="mb-1 text-lg text-gray-600 dark:text-gray-400 lg:text-lg">
      <%== @article[:publication_date] %>
    </p>
    <p class="mb-10 text-lg text-gray-600 dark:text-gray-400 lg:text-lg">
      <%== @article[:description] %>
    </p>
    <hr class="my-12 border-gray-200 dark:border-gray-800">
    <div class="prose prose-stone prose-img:rounded-xl prose-a:text-blue-600">
      <%== @article[:parsed_content] %>
    </div>
  </article>
</section>

<a href="/" class="fixed bottom-0 bg-blue-600 text-white w-full text-center py-1">
  We help developers to find the job they love ❤. See how →
</a>

<% content_for :custom_stylesheet do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<% end %>
<% content_for :custom_javascript do %>
  <script>
      const loadCDN = src =>
        new Promise((resolve, reject) => {
          if (document.querySelector(`head > script[src="${src}"]`) !== null) return resolve()
          const script = document.createElement("script")
          script.src = src
          script.async = true
          document.head.appendChild(script)
          script.onload = resolve
          script.onerror = reject
        })
  </script>
  <script>
    document.addEventListener('turbo:load', (event) => {


      loadCDN("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js").then(res => {
        document.querySelectorAll('pre code').forEach((el) => {
          if (typeof hljs !== 'undefined') {
            hljs.highlightElement(el);
          }
        });
      }).catch(err => {})

    });
  </script>
<% end %>
